[submodule "HeartBuddy-Server"]
	path = HeartBuddy-Server
	url = git@github.com:msmit5/HeartBuddy-Server.git
[submodule "HeartBuddyFeatureExtraction"]
	path = HeartBuddyFeatureExtraction
	url = https://github.com/DevynSouza/HeartBuddyFeatureExtraction
[submodule "HB-FRONTEND"]
	path = HB-FRONTEND
	url = git@github.com:jakeintravaia/HB-FRONTEND.git
[submodule "HB-MODELS"]
	path = HB-MODELS
	url = https://github.com/jakeintravaia/HB-MODELS
